<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="shortcut icon" href="~/Content/assets/img/favicon.png" />
	<link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/wui/AwesomeMvc.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/wui/awem.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Common.css")" rel="stylesheet" type="text/css" />

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	@*jquery needs to be at the top*@

	@* Theme CSS *@
	<link href="@Url.Content("~/Content/assets/css/preload.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/assets/css/vendors.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/assets/css/syntaxhighlighter/shCore.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/assets/css/style-blue.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/assets/css/width-full.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="sb-site-container">
		<div class="boxed">

			<header id="header-full-top" class="hidden-xs header-full">
				<div class="container">
					<div class="header-full-title">
						<img src="~/Content/assets/img/logo-3.png" class="img-responsive logo-image">
					</div>
					<nav class="top-nav">

						<div id="divLogin" class="dropdown animated fadeInDown animation-delay-11">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-login-box animated flipCenter">
								@model OpenTranslator.Models.Input.LoginInput

								<h4>Login Form</h4>
								<span id="spnerr" style="color:red;"></span><br />
								<div class="form-group">
									<div class="input-group login-input">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										@Html.TextBoxFor(a => a.Email, new { id = "txtemail", placeholder = "Email" })
										@Html.ValidationMessageFor(a => a.Email)
									</div>
									<br>
									<div class="input-group login-input">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										@Html.PasswordFor(a => a.Password, new { id = "txtpassword", placeholder = "Password", style = "width:204px; padding:5px; margin:0px" })
									</div>
									<div class="checkbox pull-left">
										<input type="checkbox" id="checkbox_remember1">
										<label for="checkbox_remember1">
											Remember me
										</label>
									</div>
									<button type="button" class="btn btn-ar btn-primary pull-right" onclick="Login();">Login</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</div> <!-- dropdown -->

					</nav>
				</div> <!-- container -->
			</header> <!-- header-full -->


			<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</button>
						<a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="#">Open <span>Translator</span></a>
					</div> <!-- navbar-header -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" onclick="location.href='@Url.Action("Index", "User")'">Home</a>
							</li>
							<li class="dropdown yamm-fw">
								<a href="#" onclick="location.href='@Url.Action("Aboutus", "User")'">About</a>
							</li>

						</ul>
					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>

			<section class="carousel-section">
				<div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="6200">
					<div class="carousel-inner">
						<div class="item active">
							<div class="container">
								<div class="row">
									<div class="col-md-6 col-sm-7">
										<div class="carousel-caption">

										</div>
									</div>
									<div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
										<div class="carousel-caption">
											<div class="carousel-text">
												<br />
												<h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Open Langauge Translator</h1>
												<ul class="list-unstyled carousel-list">
													<li class="animated bounceInRight animation-delay-11"><span class="inline-header"><i class="fa fa-check" aria-hidden="true"></i></span>Add New Translation</li>
													<li class="animated bounceInRight animation-delay-13"><span class="inline-header"><i class="fa fa-check" aria-hidden="true"></i></span>Vote for a translation</li>
													<li class="animated bounceInRight animation-delay-14"><span class="inline-header"><i class="fa fa-check" aria-hidden="true"></i></span>Get Translation as per user votes</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- carousel -->
			<div class="body_data">
			@RenderBody()
			</div>

			<footer id="footer">
				<p>&copy; 2018 <a href="#">Open Translator</a>. com. All rights reserved.</p>
			</footer>

		</div> <!-- boxed -->
	</div> <!-- sb-site -->


	<div id="back-top">
		<a href="#header"><i class="fa fa-chevron-up"></i></a>
	</div>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" type="text/javascript"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/assets/js/vendors.js")"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
	<script src="@Url.Content("~/Scripts/AwesomeMvc.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/awem.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>


	@*call init after utils.js and validate.js*@
	@Html.Awe().Init()
	<script>

		function Login() {
			var filter = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,6})?$/;
			var email = $("#txtemail").val();
			var password = $("#txtpassword").val();
			var doajax = true;
			if (email == undefined || email == "")
			{
				$("#spnerr").text("Enter Email");
				setTimeout(function () { $("#divLogin").addClass("open"); }, 50);
				doajax = false;
			}
			else if (password == undefined || password == "") {
				$("#spnerr").text("Enter Password");
				setTimeout(function () { $("#divLogin").addClass("open"); }, 50);
				doajax =  false;
			}
			if (!filter.test(email)) {
				$("#spnerr").text("Please enter a valid Email Address.");
				setTimeout(function () { $("#divLogin").addClass("open"); }, 50);
				doajax = false;
			}
			if (doajax == true)
			{
				$.ajax({
				url: '@Url.Action("LoginNew", "Login")',
				type: 'POST',
				dataType: 'json',
				async: false,
				cache: false,
				data: { uname: email, password: password },
				success: function (response) {
					if (response.value == "s") {
						var url = '@Url.Action("Index", "Admin")';
						window.location = url;
					}
					else
					{
						$("#spnerr").text(response.value);
						setTimeout(function () { $("#divLogin").addClass("open"); }, 50);
						return false;
					}
				},
				error: function (response) {
					//$("#spnerror").text("Translation Mode is Locked or Selected.");
				}
			});
			}

		}
	</script>


</body>
</html>