@{
	ViewBag.Title = "Open Translation";
}

@Html.InitCrudPopupsForGrid("OriginalTextGrid", "Admin", 470, 1000, "String")
<input type="button" value="Admin Screen" onclick="location.href='@Url.Action("Index", "Admin")'" />
<input type="button" value="Pascal Translation Screen" onclick="location.href='@Url.Action("Index", "PascalTranslation")'" />
<center><h2>Open Language Translation - Admin Screen </h2></center>
<style>
	.awe-ajaxcheckboxlist-field li {
		display: inline-block;
	}
</style>

<input type="button" value="LogOut" onclick="logout()" class="awe-btn mbtn" style="float:right" />
<script>
    $(function () {
		
		$('#chkColumns').change(function () {
            var val = $('#chkColumns').val();
            if (!val) val = "[]";
			$('#OriginalTextGrid').data('api').load({ oparams: { selectedColumns: JSON.parse(val), choosingColumns: true } });
        });
	});
</script>
 @(Html.Awe().InitPopupForm()
				.Name("pf1")
				.Url(Url.Action("Edit", "Admin"))
				.Title("Edit Translation")
				.Success("UpdateGrid"))


<div class="bar">
	<button type="button" class="awe-btn mbtn" onclick="awe.open('createOriginalTextGrid')">Add String</button>
	@Html.Awe().AjaxCheckboxList("chkColumns").Url(Url.Action("GetColumnsItems")).Load(true)
</div>

@(Html.Awe().Grid("OriginalTextGrid")
			.Url(Url.Action("OriginalTextGridGetItems"))
			.Groupable(false)
			.Columns())

<br /><br />
<script>
	function logout() {
		var url = '@Url.Action("Index", "User")';
		window.location = url;
	}
	function UpdateGrid(result, popup) {
		$('#OriginalTextGrid').data('api').load({});
	}

	function getVal(i, columnname) {
		debugger;
		return function (model) {
			debugger;
			var div = "";
			var a = model.Values[i];
			if (a != "")
				div = a + '<a onclick="awe.open(\'pf1\', { params: { TextId: \'' + model.TextId + '\', code : \'' + columnname + '\' } })"><span class="ico-edit"></span></a>';
			else
				div = '<a onclick="awe.open(\'pf1\', { params: { TextId: \'' + model.TextId + '\', code : \'' + columnname + '\' } })"><span class="ico-edit"></span></a>';
			return div;
		};
	}

</script>

@Html.InitCrudPopupsForGrid("Languages", "Languages", 470, 1000, " Language")

<div class="bar">
	<button type="button" onclick="awe.open('createLanguages')" class="awe-btn mbtn">Add Language</button>
</div>

@(Html.Awe().Grid("Languages")
			.Url(Url.Action("LanguageItems", "Languages"))
			.Groupable(false)
			.Columns(
			new Column { Bind = "LanguageCode" },
			new Column { Bind = "LanguageName" },
			new Column { ClientFormat = GridUtils.EditFormatForGrid("Languages", "Id"), Width = 50 },
			new Column { ClientFormat = GridUtils.DeleteFormatForGrid("Languages", "Id"), Width = 50 }))

<br /><br />
@Html.InitCrudPopupsForGrid("Admin", "AdminUsers", 470, 1000, " User")
<div class="bar">
	<button type="button" onclick="awe.open('createAdmin')" class="awe-btn mbtn">Add user</button>
</div>

@(Html.Awe().Grid("Admin")
			.Url(Url.Action("UserDataItems", "AdminUsers"))
			.Groupable(false)
			.Columns(
			new Column { Bind = "EmailId" },
			new Column { Bind = "Password" },
			new Column { ClientFormat = GridUtils.EditFormatForGrid("Admin", "Id"), Width = 50 },
			new Column { ClientFormat = GridUtils.DeleteFormatForGrid("Admin", "Id"), Width = 50 }))


