@{
	ViewBag.Title = "Open Translation";
}
@Html.InitCrudPopupsForGrid("OriginalTextGrid", "Admin", 470, 1000, "String")
<style>
	.awe-ajaxcheckboxlist-field li {
		display: inline-block;
		padding: 5px;
	}
	.awe-missingcheckbox {
		padding: 6px;
	}
</style>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="myDiv" data-value="@Request.RequestContext.HttpContext.Session["SelectedColumns"]"></div><br />

			<div id="divButtons">
				<button type="button" class="awe-btn mbtn" onclick='$("#exportForm").hide();$("#importForm").toggle();'>Import</button>
				<button type="button" class="awe-btn mbtn" onclick='$("#importForm").hide();$("#exportForm").toggle();'>Export</button>
			</div>
			<div id="importForm">
				@using (Html.BeginForm("GetUploadedFile", "PascalTranslation", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					<br />
					<div class="col-md-12">
						<div class="col-md-6">
							<span style="color:red;">@ViewBag.errormsg</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="col-md-6">
								<label>Select file for Import</label>
								<input type="file" name="postedFile" id="postedFile" required />
							</div>
							<input type="hidden" id="pagename" name="pagename" value="@ViewBag.pageName" />
							<div class="col-md-6">
								<input type="submit" class="awe-btn mbtn" value="Ok" />
								<button type="button" class="awe-btn mbtn" onclick="location.href='@Url.Action(ViewBag.pageName, "PascalTranslation")'">Cancel</button>
							</div>
						</div>
					</div>
					<br /><br />
				}
			</div>
			<div id="exportForm">
				@using (Html.BeginForm("DownloadPoFile", "PascalTranslation", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					<br />
					<div class="col-md-12">
						<div class="col-md-6">
							<span style="color:red;">@ViewBag.errormsgexport</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="col-md-6">
								<label>Select file for Export</label>
								<input type="file" name="postedFile" id="postedFile" required />
							</div>
							<input type="hidden" id="pagename" name="pagename" value="@ViewBag.pageName" />
							<div class="col-md-6">
								<input type="submit" class="awe-btn mbtn" value="Ok" />
								<button type="button" class="awe-btn mbtn" onclick="location.href='@Url.Action(ViewBag.pageName, "PascalTranslation")'">Cancel</button>
							</div>
						</div>
					</div>
					<br /><br />
				}
			</div>

			<br /><br />

			@(Html.Awe().Grid("OriginalTextGrid")
						.Mod(o => o.ColumnsSelector().PageSize().PageInfo().Loading().AutoMiniPager())
						.Url(Url.Action("OriginalTextGridGetItems", "Admin"))
						.Parameter("UserType", "User")
						.Groupable(false)
						.Columns())

			<br /><br />
			@(Html.Awe().InitPopupForm()
				.Name("EditTranslation")
				.Url(Url.Action("Edit", "PascalTranslation"))
				.Title("Edit Translation")
				.Success("UpdateGrid"))
			<fieldset>
				<legend> Options </legend>
				<div class="bar">
					@Html.Awe().AjaxCheckboxList("chkColumns").Url(Url.Action("GetColumnsItems", "Admin")).Load(true)
				</div>
				<div class="bar awe-missingcheckbox">
					<input type="checkbox" id="chkMissingTrans">
					<label for="chkMissingTrans">
						Show missing translations for selected languages
					</label>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<br /><br />
<script>
	$(document).ready(function () {
		if (getCookie("MissingTrans") == "true")
			$('#chkMissingTrans').attr('checked', 'checked')
	});

	function UpdateGrid(result, popup) {
		$('#OriginalTextGrid').data('api').load({});
	}
	function logout() {
		var url = '@Url.Action("Index", "User")';
		window.location = url;
	}

	var errormsg = '@ViewBag.errormsg';
	var errormsgexport = '@ViewBag.errormsgexport';
	
	if (errormsg!='')
    	$("#importForm").show();
	else
		$("#importForm").hide();

	if (errormsgexport!='')
    	$("#exportForm").show();
    else
    	$("#exportForm").hide();


	function getVal(i, columnname) {
		return function (model) {
			var div = "";
			var a = model.Values[i];
			if (a != "")
				div = '<span style="width:90% ; overflow: hidden;float: left; text-overflow: ellipsis;">' + a + '</span><span style="cursor: pointer; display: inline-flex; float: right;" class="ico-edit" onclick="awe.open(\'EditTranslation\', { params: { TextId: \'' + model.TextId + '\', code : \'' + columnname + '\' } })" ></span>';
			else
				div = '<span style="cursor: pointer; display: inline-flex; float: right;" class="ico-edit" onclick="awe.open(\'EditTranslation\', { params: { TextId: \'' + model.TextId + '\', code : \'' + columnname + '\' } })" ></span>';
			return div;
		};
	}
	$(function () {
		$('#chkColumns').change(function () {
			var val = $('#chkColumns').val();
			var clearSession = false;
			if (!val) {
				val = "[]";
				var clearSession = true;
			}
			$('#OriginalTextGrid').data('api').load({ oparams: { selectedColumns: JSON.parse(val), choosingColumns: true, clearsession: clearSession } });
		});
	});
	$('#chkMissingTrans').change(function () {
		if ($(this).is(":checked")) {
			$(this).attr("checked", true);
		}
		setCookie("MissingTrans", $(this).is(':checked'),1);
		$('#chkColumns').change();
	});
	function setCookie(name, value, days) {
		var d = new Date;
		d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
		document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
	}
	function getCookie(c_name) {
		var i, x, y, ARRcookies = document.cookie.split(";");
		for (i = 0; i < ARRcookies.length; i++) {
			x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
			y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
			x = x.replace(/^\s+|\s+$/g, "");
			if (x == c_name) {
				return unescape(y);
			}
		}
	}
</script>






